* {
  margin: 0;
  padding: 0; }

.fondo {
  background-color: #76134f; }

.header {
  background-color: #76134f; }
  .header_nav {
    background-color: brown; }
  .header_nav-item {
    list-style: none; }
    .header_nav-item a {
      text-decoration: line-through; }

.footer {
  background-color: #073342; }
