.parrafos{
    font{
        size:14px;
        weight:500;
        family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       }
 text{
    align: center;
    decoration: none;
 }
   
}